*{
    padding:0;
    margin:0;
    list-style: upper-latin;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    place-items: center;
    padding: 50px;
    font-size: 1.5rem;
}
ol{
    margin: 20px;
}
button{
    width: 200px;
    height: 50px;
    border-radius: 10px ;

}
label{
    font-size: 2rem;
}
input{
    width: 20rem;
}
p{
    margin: 20px;
    font-weight: 300;
    font-size: 1.2rem;

}
p:nth-child(5){
    color: brown;
}