*{
    padding:0;
    margin:0;
    list-style: upper-latin;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    
    padding: 50px;
    font-size: 1.5rem;
}
ol{
    margin: 20px;
    gap:10px;
    display: flex;
    flex-direction: column;
    align-content: left;
}
button{
    aspect-ratio: 4/1;
    border-radius: 10px ;
    font-size: 2rem;
    font-weight: bold;
    padding: 30px;

}
h1{
    text-align: center;
}
label{
    font-size: 2rem;
}
input{
    width: 20rem;
}
p{
    margin: 20px;
    font-weight: 300;
    font-size: 1.5rem;

}
p:nth-child(5){
    color: brown;
    font-size: 2rem;
}